
* {
  margin: 0;
  padding: 0;
}

.main {
  min-height: 100vh;
  display: flex;
}

.register-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.hero-container {
  width: 90%;
  height: 90%;
  max-height: 600px;
  max-width: 900px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5%;
  position: fixed;
  padding: 1rem;
}

.name-container{

  color: rgb(3, 3, 3);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left-container{

  color: rgb(3, 3, 3);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cnpj-container{

  color: rgb(4, 4, 4);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submit-btn{

  color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-color: #675f64;
}
.back-btn {
  text-decoration: none;
  font-weight: bolder;
  font-size: xx-large;
  color: #000;
  position: static;
  top: 0.5rem;
  left: 0.5rem;
}
.register-form {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.left-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.right-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.name-container {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}
.file-upload {
  border: 1px solid rgb(3, 3, 3);
  display: inline-block;
  padding: 150px 200px;
  cursor: pointer;
  margin-bottom: 10%;
}
input[type="file"] {
  display: none;
}
.center-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 4rem);
  align-items: center;
}
.submit-btn {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  padding: 0.5rem;
  background-color: #050505;
  font-size: x-large;
}
.cnpj-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

