a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
body {
    background-color: rgb(29, 26, 26);
}
h1 {
    color: whitesmoke;
}